.App {
  text-align: center;
  margin-top: 30px;
}

.square{
  /* background-color: rgb(141, 49, 49); */
  color:rgb(110, 32, 32);
  margin-top: 10px;
  font-size: 1.2rem;
  margin-right: 6px;
  height: 60px;
  width: 60px;
  font-weight: 700;
  padding-top: 20px 20px 20px;

  /* border: 0.2rem  gray; */

}

.row{
  /* margin-bottom:10px; */

  display: flex;
  justify-content: center;
  /* padding-top: 20px; */
}

.Reset{
  margin-top: 20px;
}